*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  background: #5d646e;
}

input:focus {
  outline: none;
}